name: Build and Test Bill Manager

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  GH_TOKEN: ${{ github.token }}

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Add this line to allow creating releases
    strategy:
      matrix:
        BUILD_TARGET: [release] # refers to a cargo profile
    outputs:
      release_built: ${{ steps.set-output.outputs.release_built }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Cache cargo registry
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Build binaries in "${{ matrix.BUILD_TARGET }}" mode
        working-directory: ./bill-manager
        run: cargo build --profile ${{ matrix.BUILD_TARGET }}

      - name: Fmt Check
        working-directory: ./bill-manager
        run: cargo fmt --check

      - name: Run tests in "${{ matrix.BUILD_TARGET }}" mode
        working-directory: ./bill-manager
        run: cargo test --profile ${{ matrix.BUILD_TARGET }}
     
      - name: Create Release
        id: create_release
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ github.run_number }}
          release_name: Release v${{ github.run_number }}
          body: Automated release from commit ${{ github.sha }}
          draft: false
          prerelease: false

      - name: Upload release artifact
        uses: actions/upload-artifact@v4
        with:
          name: bill-manager
          path: ./bill-manager/target/${{ matrix.BUILD_TARGET }}/bill-manager

      #- uses: actions/checkout@v5
      - name: Download release artifact
        uses: actions/download-artifact@v5
        with:
          name: bill-manager
          path: ./bill-manager

      - name: Upload Release Asset
        id: upload-release-asset 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
          asset_path: ./bill-manager/bill-manager
          asset_name: bill-manager
          asset_content_type: application/octet-stream
